html { font-family: 'Roboto', sans-serif; }

.bmg-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}

.bmg-card {
    width: 160px;
    height: 200px;
    object-position: center;
    object-fit: none;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    box-shadow: #999999 2px 2px 2px;
    margin: 20px 2%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: url(https://avatars0.githubusercontent.com/u/24419737);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FEFEFE;
}

.bmg-card-title {
    font-size: 2em;
    color: white;
    text-shadow: #333333 2px 2px 2px;
    position: relative;
    /*display: none;*/
}

#winPopup {
    color: #fff;
    min-width: 400px;
    margin-left: -200px;
    background-color: #333;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 200px;
    font-size: 17px;
}

#scorePopup {
  color: #fff;
  background-color: #333;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  font-size: 17px;
}

.closePopup:hover {
  cursor: pointer;
}

.closePopup {
  display: flex;
  margin: auto auto;
  justify-content: center;
  color: #fff;
  width: 35px;
  height: 35px;
  background-color: #333;
  border-radius: 30px;
  border-color: #ecf0f1;
  border-style: solid;
}

/*
.flip .card.flipped {
    -webkit-transform: rotatex(-180deg);
}
.flip .card {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    -webkit-transform: rotatex(-180deg);
}
*/

@media (min-width: 1600px) {
  .bmg-card {
      margin: 20px 4%;

  }
}
